/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2016, 2:31:40 PM
    Author     : Rifat
*/
.root{
    -fx-background-colour: #f5deb3;
}
#pane1{
    -fx-background-image:url("lg.png");
 
    -fx-background-size: 100% 100%;
}
#txuser{
    -fx-background-color:#fffacd;
    -fx-border-color:black;
    -fx-border-radius: 5px;
}
#txpass{
    -fx-background-color:#fffacd;
     -fx-border-color:black;
     -fx-border-radius:5px;
}
#button1
{
    -fx-background-color:#fffacd;
    -fx-border-color:black;
    -fx-border-radius:5px;
   
}